<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8"/>
  <meta name="author" content="Finch wu - sooone.com"/>
  <meta name="description" content="Site Description Here"/>
  <meta name="keywords" content="keywords, here"/>
  <meta name="robots" content="index, follow, noarchive"/>
  <%= stylesheet_link_tag "screen" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!--header -->
<%= render :partial => "layouts/head" %>
<!--/header-->

<!-- content-outer -->
<div id="content-wrap" class="clear">

  <!-- content -->
  <div id="content">

    <!-- main -->
    <div id="main">
      <%= yield %>
    </div>

    <!-- /main -->

    <!-- sidebar -->
    <%= render :partial => "layouts/siderbar" %>
    <<>!-- /sidebar -->
    <!-- content -->
  </div>
  <!-- /content-out -->
</div>

<!-- footer-outer -->
<%= render :partial => "layouts/footer_outer" %>
<!-- /footer-outer -->
<!-- footer-bottom -->
<%= render :partial => "layouts/footer" %>
<!-- /footer-bottom-->
</body>
</html>
